.correctMessage {
    visibility: hidden;
    display: none;
    color: #00d013;
    font-weight: bold;
}

.incorrectMessage {
    visibility: visible;
    display: block;
    color: #c70000;
    font-weight: bold;
}

.field {
    border-radius: 5px;
    padding-left: 4px;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 1.2em;
    color: #bf360c;
}

.incorrectField {
    border: 2px solid #ff0000;

}